body {
    background-color: #67b7f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}